<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Brak uprawnień</title>
    </head>
    <body>
        <h1>Brak uprawnień</h1>
        <h2>Nie masz dostępu do tej części aplikacji</h2>

        <div>
            Więcej informacji uzyskasz u administratora.
        </div>
    </body>
</html>
