{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock %}

{% block body -%}
    <div class="container">
        <h1>Product creation</h1>

        {{ form(form) }}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <a class="btn btn-default" href="{{ path('product') }}">
                    Back to the list
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
