{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock %}

{% block body -%}
    <h1>Polcode product bundle</h1>
    <p>This is training project</p>
    Sing in <a href="{{path("fos_user_security_login")}}">here</a>
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
